.dash-sidebar-aside {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: black;
  justify-content: center;
  background-color: white;
  width: auto;
  max-width: 300px;
  min-width: 300px;
  max-height: 160px;
  height: auto;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.user-dash-main-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #F1EFEA;
  padding-top: 10px;
  justify-content: center;
  height: 100%;
  min-height: 1000px;
}

.dash-sidebar-header {
  width: auto;
  height: auto;
  background-color: white;
  text-align: center;
  border-bottom: 2px solid #F1EFEA;
  padding-top: 10px;
  font-weight: bold;
}

.dash-sidebar-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  height: auto;
  width: auto;
  text-align: center;
  align-items: center;
  position: relative;
}

.dash-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 780px;
  min-width: 300px;
  overflow: hidden;
  background-color: white;
  margin: 10px;
}

.dash-section header{
  margin: 5px;
}

.dash-section header{

}

.dash-section div{
  margin: 5px;
  max-width: 150px;
  overflow: hidden;
  max-height: 150px;
}

.dash-section div img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dash-status-button {
  border: none;
  margin-bottom: 5px;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  padding-right: 20px;
}

.hidden-dash-status-dropdown {
  display: none;
  z-index: 1;

}

.dash-status-ul {
  position: relative;
  border-color: #F1EFEA;
  border: 2px;
}

.dash-status-ul li button{
  position: relative;
  height: 40px;
  margin: 0px;
}

.dash-status-ul li button:hover {
  background-color: #f2f2f2
}

.show-dash-status-dropdown {
  display: block;
  background-color: #f7f7f7;;
  position: absolute;
  left: 10px;
  z-index: 1;
  width: 300px;
  position: absolute;
  left: 0%;
}

.show-dash-status-dropdown li{
  display: block;
  background-color: #f7f7f7;;
  position: inherit;
  z-index: 1;
  margin: 0px;
  padding: 0px;
}

.show-dash-status-dropdown button{
  border: none;
  outline: none;
  width: 100%;
  padding: 0px;
  font-size: 15px;
}

.show-dash-status-dropdown button:hover{
  background-color: grey;
}

.upcoming-hostings-section {
  background-color: white;
  width: 780px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.upcoming-hostings-section-header{
  box-sizing: border-box;
  min-height: 30px;
  background-color: white;
  border-bottom: 2px solid #F1EFEA;
  width: 100%;
  text-align:left;
  top: 3%;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.upcoming-hostings-section ul {
  text-align: center;
}

.upcoming-hostings-section li{
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #F1EFEA;
  padding: 20px;
}

.upcoming-hostings-section img{
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
}

.upcoming-guests-li-holding-div {

}

.upcoming-guests-li-name-header {
  margin: 5px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.em-arrow_down_small {
  width: 15px;
  height: 15px;
  padding-left: 20px;
}


.upcoming-guests-li-article {
display: flex;
flex-direction: column

}

.upcoming-guests-li-p-tag {
  margin: 5px;
  text-align: left;

}


.em-house_with_garden {
  margin-right: 10px;
}

.em-airplane {
  margin-right: 15px;
}

.em-couch_and_lamp {
  margin-top: 10px;
  margin-right: 10px;
}

.dash-main-header {
  padding-top: 10px;
  font-size: 15px;
}

.upcoming-guests-location-header {
  margin: 5px;
  text-align: left;
}

.em-house {
  padding-right: 10px;
  margin-bottom: 10px;
}

.em-spiral_calendar_pad {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.em-arrow_right {
  padding-left: 5px;
  padding-right: 5px;
  width: 15px;
  height: 15px;
}

.upcoming-trips-section-header {
  box-sizing: border-box;
  min-height: 30px;
  background-color: white;
  border-bottom: 2px solid #F1EFEA;
  width: 100%;
  text-align:left;
  top: 3%;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.dash-main-guest-host-img {
  cursor: pointer;
}

.dash-main-confirm-deny-button {
  height: 30px;
  width: 100px;
  background-color: #2980B9;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  margin-right: 10px;
}
