/* line 1, /home/auraz/Desktop/SofaSkipping/app/assets/stylesheets/homescreen/navbar.scss */
.top-nav {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

/* line 9, /home/auraz/Desktop/SofaSkipping/app/assets/stylesheets/homescreen/navbar.scss */
#login-button {
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 100px;
  background-color: white;
  font-size: 15px;
  color: #2980B9;
  border-radius: 5px;
  border-color: #2980B9;
}

/* line 20, /home/auraz/Desktop/SofaSkipping/app/assets/stylesheets/homescreen/navbar.scss */
#join-button {
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 160px;
  background-color: #2980B9;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  font-weight: lighter;
}

/* line 32, /home/auraz/Desktop/SofaSkipping/app/assets/stylesheets/homescreen/navbar.scss */
.logo {
  font-family: papyrus;
  color: #D4490B;
  margin: 10px;
}
