#home-couch-img {
  width: 100%;
  position: relative;
}

#welcome-message {
  position: relative;
}

.welcome-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.welcome-text h1{
  width: 600px;
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
}

.welcome-text h2{
  width: 600px;
  font-size: 25px;
  text-align: center;
  font-weight: 100;
}


.why-join-div {
  width: 100%;
  height: 800px;
  position:relative;
  display: flex;
  background-color: #2980B9
}

.why-join-text {
  position: absolute;
  width: 100%;
  top: 5%;
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: 1;
}

.why-join-form-article {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.why-join-pic-div {
  height: 500px;
  width: 200px;
}

.why-join-picture {
  width: 200px;
}
