.location-show-background-image {
  width: 100%;
}

.location-show-background-image-header {
  overflow: hidden;
  height: 100px;
  position: relative;
  width: 100%;
  background-color: rgba(6, 8, 9, 0.76);
}

.location-show-entire-container-div {
  background-color: #F1EFEA;
  min-height: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.location-show-title-h1 {
  // background-color: rgba(6, 8, 9, 0.76);
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  font-size: 60px;
  width: 100%;
  text-align: center;
}

.location-user-show-image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.location-user-show-image:hover {
 -webkit-filter: brightness(70%);
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -o-transition: all 1s ease;
 -ms-transition: all 1s ease;
 transition: all 1s ease;
 cursor: pointer;
}

.location-user-show-section {
  background-color: white;
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}

.location-user-show-div {
  width: 80px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.location-user-show-div span{
  text-align: center;
}

.location-user-show-article {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
}

.location-user-show-header {
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #F1EFEA;
}

.location-user-show-header h1{
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: 	#191970
}

.location-user-show-host-and-guest-wrapper {
  display: flex;
  margin-top: 30px;
}

.em-small_airplane {
  margin-right: 10px;
}

.slick-slider {
  width: 100%;
  height: 100%;
}

.location-google-photos-section {
  background-color: rgba(6, 8, 9, 0.76);
  width: 100%;
  height: 100%;
}

.location-google-slider-photo-div {
  height: 500px;
  width: 500px;
  display: flex !important;
  justify-content: center;
}

.location-google-slider-photo-img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
  border-radius: 3px;
}

.slick-slide img {
  display: unset;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
}
