.location-show-background-image {
  width: 100%;
}

.location-show-background-image-header {
  overflow: hidden;
  max-height: 600px;
  position: relative;
  width: 100%;
}

.location-show-entire-container-div {
  background-color: #F1EFEA;
  min-height: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.location-show-title-h1 {
  z-index: 1000000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  font-size: 80px;
  color: black;
  width: 100%;
  text-align: center;
}

.location-user-show-image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.location-user-show-image:hover {
 -webkit-filter: brightness(70%);
 -webkit-transition: all 1s ease;
 -moz-transition: all 1s ease;
 -o-transition: all 1s ease;
 -ms-transition: all 1s ease;
 transition: all 1s ease;
 cursor: pointer;
}

.location-user-show-section {
  background-color: white;
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
}

.location-user-show-div {
  width: 80px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.location-user-show-div span{
  text-align: center;
}

.location-user-show-article {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
}

.location-user-show-header {
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #F1EFEA;
}

.location-user-show-header h1{
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  color: 	#191970
}

.location-user-show-host-and-guest-wrapper {
  display: flex;
  margin-top: 30px;
}

.em-small_airplane {
  margin-right: 10px;
}

// .slider {
//   position: relative;
//   width: 100%;
//   margin: 0 auto;
//   height: 100%;
//   overflow: hidden;
//   white-space: nowrap;
//
//   .slider-wrapper {
//     position: relative;
//     height: 50%;
//     width: 50%;
//
//     .slide {
//       display: inline-block;
//       height: 100%;
//       width: 100%;
//     }
//   }
//
//   .settings-icon {
//     cursor: pointer;
//     position: absolute;
//     top: 15px;
//     right: 15px;
//     z-index: 99999999999999;
//     background: white;
//     border-radius: 50%;
//     padding: 5px;
//
//     path, polygon {
//       fill: black;
//     }
//   }
//
//   .settings {
//     background: rgba(0,0,0,0.75);
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     z-index: 999999999;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//
//     .menu {
//       width: 600px;
//       height: 350px;
//       background: white;
//
//       @media(max-width: 650px) {
//         width: 300px;
//       }
//     }
//   }
// }
//
// .right-arrow, .left-arrow {
//   height: 50px;
//   width: 50px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: black;
//   border-radius: 50%;
//   cursor: pointer;
//   transition: transform ease-in .1s;
//
//   &:hover {
//     transition: transform ease-in .1s;
//     transform: scale(1.1)
//   }
// }
//
// .cool-buttons {
//   background: black;
//   border: 2px solid white;
// }
//
// .right-arrow {
//   position: absolute;
//   top: 50%;
//   right: 25px;
//   z-index: 999;
//   color: #fff;
//
//   img {
//     transform: translate(2px, 0);
//
//     &:focus {
//       outline: 0;
//     }
//   }
// }
//
// .left-arrow {
//   position: absolute;
//   top: 50%;
//   left: 25px;
//   z-index: 999;
//   color: #fff;
//
//   img {
//     transform: translate(-2px, 0);
//
//     &:focus {
//       outline: 0;
//     }
//   }
// }
//
// .dots-container {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   text-align: center;
//   z-index: 9999;
//   padding: 5px 0;
//
//   .dot {
//     background: #222;
//     display: inline-block;
//     padding: 10px;
//     margin-right: 5px;
//     cursor: pointer;
//     border-radius: 50%;
//   }
//   .active {
//     background: #fff;
//   }
// }
//
// .slide {
//   width: 100%;
//   height: 100%;
// }
//
// .slide-img {
//   width: 100%;
//   height: 1000px;
// }

.slick-slider {
  width: 100%;
  height: 100%;
}

.location-google-photos-section {
  background-color: #008CBA;
  width: 100%;
  height: 100%;
}

.location-google-slider-photo-div {
  height: 500px;
  width: 500px;
  display: flex !important;
  justify-content: center;
}

.location-google-slider-photo-img {
  max-height: 100%;
  max-width: 100%;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
}

.slick-slide img {
  display: unset;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}
